.detailPage {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-block: 30px;
}

.detailContainer {
	position: relative;
	max-width: 900px;
	height: min-content;
	border: 5px;
	background: var(--bg-light);
	border-radius: 20px;
	overflow: hidden;
	padding: 2rem;
	box-shadow: 0 0 10px 1px var(--blue-light-hover);
	z-index: 0;
}

.detailBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: -1;
}

.detail--name,
.detail--title {
	text-align: center;
	font-size: 3.6rem;
	font-weight: 500;
	text-transform: capitalize;
}
.detail--title {
	font-size: 2.4rem;
}

.detail__info {
	padding: 1rem;
	display: flex;
	width: 100%;
	gap: 20px;
	font-size: 50px;
}

.detail__info--lore,
.detail__info--skill {
	height: min-content;
}
.detail__info--lore {
	flex-basis: 30%;
}

.detail__info--skills {
	margin-left: auto;
	flex-basis: 65%;
}

.loreTitle,
.skillTitle {
	font-size: 18px;
	text-align: center;
	margin-bottom: 1rem;
}

.lore {
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
}

.skill--item {
	display: flex;
	margin-bottom: 1rem;
}

.skill--item img {
	height: 48px;
	margin-right: 1rem;
}

.skill--item span,
.skill--item p {
	font-size: 14px;
}

.skill--item span {
	font-weight: bold;
}

.skill--item:last-child {
	margin-bottom: 0;
}

@media (max-width: 875px) {
	.detail__info {
		flex-direction: column;
	}
}
