@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--black: #242132;
	--bg-light: #38334d;
	--blue: #746cfe;
	--blue-light-hover: #736cfe33;
	--blue-dark-hover: #322f6c;
	--purple: #ae8cfa;
	--white: #fefcff;
	--yellow: #ffbb00d5;
	--yellow-light-hover: #ffbb001a;
}

* {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	color: var(--white);
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body {
	background: var(--black);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--white);
}

button {
	color: #000;
}
